<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cesium.com/downloads/cesiumjs/releases/1.67/Build/Cesium/Cesium.js"></script>
    <link href="{{ url_for('static', filename='./styles/widgets.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='./styles/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='./styles/mainstyles.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <title>Bienvenue à bord</title>
</head>
<body>
    <header>
        <div class="header">
            <img class="imlogo" src="{{ url_for('static', filename='./img/imaginairlogo.png') }}" alt="imaginairlogo">
            <div class="ll">
                <div class="linkmenu">
                    <a href="javascript:history.go(-1)"><div class="languages"><h1>retour</h1></div></a>
                    <a href="{{ url_for('mainfr') }}"><div class="languages"><h1>accueil</h1></div></a>
                    <a href="{{ url_for('index') }}"><div class="languages"><h1>langues</h1></div></a>
                </div>
                <img class="colors" src="{{ url_for('static', filename='./img/colors.png') }}" alt="colors">
                
            </div>
        </div>
    </header>
    <div id="screenturnedoff" onClick="screenturnedoff()">
        <img src="{{ url_for('static', filename='./img/view.png') }}" alt="view">
        <h1>The screen is turned off</h1>
        <h3>Touch the screen to turn it back on</h3>
        <h2>L'écran est éteint</h2>
        <h4>Touchez l'écran pour le ré-allumer</h4>
    </div>
    <div class="content">
        
        {% block norepeat %}{% endblock %}

    </div>
    <div id="popupcontainer" onclick="dispnonepopup()">
        <div id="volumeslider" onclick="forcepopup()">
            <img id="play" src="{{ url_for('static', filename='./img/play.png') }}" alt="play" onclick="playpause()">
            <div id="levraivolumeslider">
                <img src="{{ url_for('static', filename='./img/volumedown.png') }}" alt="volumemoins">
                <div id="barslide"></div>
                <img src="{{ url_for('static', filename='./img/volumeup.png') }}" alt="volumeplus">
            </div>
        </div>
        <audio id="audiocontrol" src="{{ url_for('static', filename='./img/immusic.mp3') }}"></audio>
        <div id="switchoff">
            <h1 class="l-one-offmessage">Voulez vous vraiment éteindre l’écran ?</h1>
            <h1 class="l-two-offmessage">Do you realy want to Turn off the screen ?</h1>
            <div class="yesnocontainer">
                <div class="yes" onClick="screenturnedoff()"><h1>OUI</h1></div>
                <div class="no" onClick="switchoff()"><h1>NON</h1></div>
            </div>
        </div>
    </div>
<footer>
    <div class="footer">
        <div class="flight">
            <p class="f-origin">CDG </p><p class="arrow">→</p><p class="f-dest">YUL</p>
        </div>
        <div class="items">
            <img id="light" src="{{ url_for('static', filename='./img/lightoff.png') }}" alt="light" onClick="lighton()">
            <img class="sound" src="{{ url_for('static', filename='./img/sound.png') }}" alt="sound" onclick='sound();dispnonepopup()'>
            <img class="onoff" src="{{ url_for('static', filename='./img/onoff.png') }}" alt="onoff" onClick="switchoff();dispnonepopup()">
        </div>
    </div>
    </footer>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>
    <script src="{{ url_for('static', filename='./script/script.js') }}"></script>
</body>
</html>