{% extends 'es/base.html' %}

{% block norepeat %}

<div class="content-box">
    <div class="left-menu">
        <div class="left-menu-content">
            <div class="search-box">
                <input type="search" id="site-search" name="q"
                aria-label="Search through site content">
                <button class="search-button">🔍</button>
            </div>
            <h2>Todo</h2>
            <h2>Películas francesas</h2>
            <h2>Comedias</h2>
            <h2></h2>
        </div>
    </div>
    <div class="movie-box">
        <h1 class="notavailable">No hay resultados que coincidan con su búsqueda</h1>
    </div>
</div>

{% endblock %}