.music{
    background-color: rgb(157, 195, 230);
    height: 60vh;
    width: 60vh;
    margin-right: 3vh;
    margin-left: 3vh;
    border-radius: 5px;
    display: flex;
    cursor: pointer;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.info_music{
    align-self: flex-end;
    height: fit-content;
    width: 60vh;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 1vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(45, 45, 45, 0.8);
    backdrop-filter: blur(5px);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    z-index: 1;
    padding-right: 0;
    padding-left: 0;
}
.info_music h1{
    font-size: 4vh;
    height: 5vh;
    margin-bottom: 1vh;
    overflow: hidden;
    animation: defilement 20s infinite linear;
    text-overflow: ellipsis; 
    white-space: nowrap;
    width: 30vh;
}
.info_music img{
    width:  7vh;
    height: 7vh;
    padding-right: 1.5vh;
    margin-right: 1vh;
}
.all_music_info{
    margin-left: 1vh;
}
.small_music_infos{
    font-size: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.small_music_infos h2{
    padding: 0.5vh;
    padding-top: 0;
    height: 3vh;
    font-size: 2vh;
}
.music_genre{
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.music_author{
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    text-align: end;
}
.music_duration{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 2vh;
    padding-left: 1vh;
    text-align: end;
}
.music_slash{
    font-size: 2vh;
}
.small_music_info_un{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 48vh;
}
.music-img{
    position: relative;
    height: 60vh;
    width: 60vh;
    z-index: 0;
    border-radius: 5px;
    margin-left: -60vh;
}
.music:hover{
    box-shadow: 0px 0px 4vh rgba(0,0,0,0.2);
}